{% extends 'flowers/base.html' %}
{% block content %}

    <div class="col-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Добавить карточку товара</h5>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if not object %}
                        <button type="submit" class="btn-primary">Создать</button>
                    {% else %}
                        <button type="submit" class="btn-danger">Редактировать</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>


{% endblock %}
