{% extends 'flowers/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ title }}</h1>
    </div>

    <div class="container">
    <div class="row text-center">
        {% for object in objects_list %}
            <div class="col-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">{{ object.price }} руб.</h2>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>
                                <img class="img-fluid rounded mx-auto d-block" src="{{ object.Imag | my_media }}"
                                ></li>
                        </ul>
                        <a class="btn btn-primary" href="{% url 'flowers:flowers_card/' object.pk %}" role="button">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

