{% load my_tags %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <h5 class="my-0 mr-md-auto font-weight-normal">Store_flowers</h5>
    <nav class="ms-4">
        <a class="p-2 btn btn-btn btn-dark" href="{% url 'flowers:flowers_list' %}">Каталог</a>
        <a class="p-2 btn btn-btn btn-dark" href="{% url 'flowers:flowers_create/' %}">Добавить карточку товара</a>
        <a class="p-2 btn btn-btn btn-dark" href="{% url 'flowers:version_list/' %}">Продукты магазина</a>
        <a class="p-2 btn btn-btn btn-success" href="{% url 'flowers:blog_fl_form/' %}">Создать запись в блоге</a>
        <a class="p-2 btn btn-btn btn-success" href="{% url 'flowers:blog_fl_list/' %}">Просмотр блогов</a>
        <a class="p-2 btn btn-success" href="{% url 'flowers:contacts/' %}">Контакты</a>
        <p class="" >{% current_time %}</p>
        <ul class="nav col-md-12 justify-content-end list-unstyled d-flex">
            <li class="align-items-md-end text-body-secondary">

            </li>
        </ul>
    </nav>
</div>